* {
    margin: 0;
    padding: 0;
}

ul, li, ol, dl, dd {
    list-style: none;
}

#join {
    width: 1024px;
    height: 768px;
    overflow: hidden;
}

#join .content {
    width: 60%;
    margin: 0 auto;
}

#join .content h1 {
    text-align: center;
}

.content .btn {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

#join .user,
#join .admin {
    border: 1px solid #777;
    text-align: center;
}

.content div a {
    font-size: 25px;
    line-height: 200px;
    text-decoration: none;
    color: #fff;
    font-weight: 900;  
}


.content .btn .user {
    border-radius: 25px;
    color: #fff;
    width: 200px;
    height: 200px;
    background-color: #F97316;
}

.content .btn .admin {
    border: 1px solid #777;
    border-radius: 25px;
    color: #fff;
    width: 200px;
    height: 200px;
    background-color: #F97316;
}