<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phgym.board.model.BoardMapper">
	<!-- 쿼리 작성 -->

	<insert id="regist" parameterType="com.phgym.board.model.BoardDTO">
    	INSERT INTO EXERCISE_INFO (INFO_NO, ADMIN_NO, TITLE, WRITE_DATE, CONTENT)
    	VALUES (EXERCISE_INFO_SEQ.NEXTVAL, #{adminNo}, #{title}, SYSDATE, #{content})
	</insert>

	<select id="getList" resultType="com.phgym.board.model.BoardDTO">
	 <!-- 게시물 목록을 페이징하여 가져오기 SQL - 로우넘버() 함수로 각 행에 번호 매김, 해당 번호 기준으로 특정 범위의 행 선택 -->
    	SELECT * FROM (
        	SELECT a.*, ROW_NUMBER() OVER (ORDER BY INFO_NO DESC) AS rnum
        	FROM EXERCISE_INFO a
   		)
    	WHERE rnum BETWEEN #{startIndex} AND #{endIndex}
    	<!-- 스타트인데스와 엔드인덱스 사이의 게시물만 선택 -->
	</select>

    <select id="searchList" resultType="com.phgym.board.model.BoardDTO">
    <!-- 검색 결과를 페이징하여 가져오기 SQL - 검색 키워드를 포함하는 제목을 가진 게시물 중에서 특정 범위의 행 선택 -->
    	SELECT * FROM (
        	SELECT a.*, ROW_NUMBER() OVER (ORDER BY INFO_NO DESC) AS rnum
        	FROM EXERCISE_INFO a
        	WHERE TITLE LIKE '%' || #{searchKeyword} || '%'
    	)
    	WHERE rnum BETWEEN #{startIndex} AND #{endIndex}
    	<!-- 스타트인데스와 엔드인덱스 사이의 게시물만 선택 -->
	</select>
	
	<select id="getTotalCount" resultType="int">
	<!-- 전체 게시물 수 가져오기 SQL - 전체 게시물의 수 계산 -->
    	SELECT COUNT(*) FROM EXERCISE_INFO
	</select>

 	<select id="getSearchCount" resultType="int">
 	<!-- 검색 결과의 총 개수를 가져오기 위한 SQL - 검색 조건에 맞는 게시물의 수를 계산 -->
    	SELECT COUNT(*) FROM EXERCISE_INFO
    	WHERE TITLE LIKE '%' || #{searchKeyword} || '%'
	</select>

	<select id="getContent" parameterType="int" resultType="com.phgym.board.model.BoardDTO">
    	SELECT * FROM EXERCISE_INFO WHERE INFO_NO = #{infoNo}
	</select>

	<update id="increaseHit" parameterType="int">
		UPDATE EXERCISE_INFO SET HIT = HIT + 1 WHERE INFO_NO = #{infoNo}
	</update>
	
	 <delete id="delete" parameterType="int">
        DELETE FROM EXERCISE_INFO WHERE INFO_NO = #{infoNo}
    </delete>
    
    <!-- ===========================문 의 글============================================= -->
    <insert id="regist1" parameterType="com.phgym.board.model.QnaDTO">
    	INSERT INTO INQUIRY (INQUIRY_NO, WRITER, TITLE, PW, WRITE_DATE, CONTENT)
    	VALUES (INQUIRY_SEQ.NEXTVAL, #{writer}, #{title}, #{pw}, SYSDATE, #{content}) <!-- 수정예정 -->
	</insert>
	

	    <select id="getList1" resultType="com.phgym.board.model.QnaDTO">
    	SELECT * FROM (
        	SELECT a.*, ROW_NUMBER() OVER (ORDER BY INQUIRY_NO DESC) AS rnum
        	FROM INQUIRY a
   		)
    	WHERE rnum BETWEEN #{startIndexs} AND #{endIndexs}
	</select>
    
    <select id="searchList1" resultType="com.phgym.board.model.QnaDTO">
    	SELECT * FROM (
        	SELECT a.*, ROW_NUMBER() OVER (ORDER BY INQUIRY_NO DESC) AS rnum
        	FROM INQUIRY a
        	WHERE TITLE LIKE '%' || #{searchKeywords} || '%'
    	)
    	WHERE rnum BETWEEN #{startIndexs} AND #{endIndexs}
	</select>
	<select id="getTotalCounts" resultType="int">
    	SELECT COUNT(*) FROM INQUIRY
	</select>

 	<select id="getSearchCounts" resultType="int">
    	SELECT COUNT(*) FROM INQUIRY
    	WHERE TITLE LIKE '%' || #{searchKeywords} || '%'
	</select>

	<select id="getContent1" parameterType="int" resultType="com.phgym.board.model.QnaDTO">
    	SELECT * FROM INQUIRY WHERE INQUIRY_NO = #{inquiryNo} ORDER BY WRITE_DATE DESC
	</select>

	<update id="increaseHit1" parameterType="int">
		UPDATE INQUIRY SET HIT = HIT + 1 WHERE INQUIRY_NO = #{inquiryNo}
	</update>
	
	 <delete id="delete1" parameterType="com.phgym.board.model.QnaDTO">
        DELETE FROM INQUIRY WHERE INQUIRY_NO = #{inquiryNo} AND PW = #{pw}
    </delete>
    <!-- ========================================= -->
	<update id="replyRegist" parameterType="com.phgym.board.model.QnaDTO">
		UPDATE INQUIRY SET ADMIN_NO = #{adminNo}, REPLY_DATE = SYSDATE, REPLY_CONTENT = #{replyContent} WHERE INQUIRY_NO = #{inquiryNo}
	</update>
	
	 <!-- 댓글 삭제 -->
    <update id="deleteReply" parameterType="com.phgym.board.model.QnaDTO">
         update inquiry set admin_no = null, reply_date = null, reply_content = null where inquiry_no = #{inquiryNo} And admin_no = #{adminNo}
    </update>

    <!-- 댓글 수정 -->
    <update id="updateReply" parameterType="com.phgym.board.model.QnaDTO">
        UPDATE INQUIRY SET REPLY_CONTENT = #{replyContent}, REPLY_DATE = SYSDATE WHERE INQUIRY_NO = #{inquiryNo} AND ADMIN_NO = #{adminNo}
    </update>
    
    <!-- ==================================공지사항===================================================== -->
	
	<insert id="registN" parameterType="com.phgym.board.model.NoticeDTO">
    	INSERT INTO NOTICE (NOTICE_NO, ADMIN_NO, TITLE, WRITE_DATE, CONTENT)
    	VALUES (NOTICE_SEQ.NEXTVAL, #{adminNo}, #{title}, SYSDATE, #{content})
	</insert>

	<select id="getListN" resultType="com.phgym.board.model.NoticeDTO">
    	SELECT * FROM (
        	SELECT a.*, ROW_NUMBER() OVER (ORDER BY NOTICE_NO DESC) AS rnum
        	FROM NOTICE a
   		)
    	WHERE rnum BETWEEN #{startIndexn} AND #{endIndexn}
	</select>

    <select id="searchListN" resultType="com.phgym.board.model.NoticeDTO">
    	SELECT * FROM (
        	SELECT a.*, ROW_NUMBER() OVER (ORDER BY NOTICE_NO DESC) AS rnum
        	FROM NOTICE a
        	WHERE TITLE LIKE '%' || #{searchKeywordn} || '%'
    	)
    	WHERE rnum BETWEEN #{startIndexn} AND #{endIndexn}
	</select>
	
	<select id="getTotalCountN" resultType="int">
    	SELECT COUNT(*) FROM NOTICE
	</select>

 	<select id="getSearchCountN" resultType="int">
    	SELECT COUNT(*) FROM NOTICE
    	WHERE TITLE LIKE '%' || #{searchKeywordn} || '%'
	</select>

	<select id="getContentN" parameterType="int" resultType="com.phgym.board.model.NoticeDTO">
    	SELECT * FROM NOTICE WHERE NOTICE_NO = #{noticeNo}
	</select>

	<update id="increaseHitN" parameterType="int">
		UPDATE NOTICE SET HIT = HIT + 1 WHERE NOTICE_NO = #{noticeNo}
	</update>
	
	 <delete id="deleteN" parameterType="int">
        DELETE FROM NOTICE WHERE NOTICE_NO = #{noticeNo}
    </delete>

</mapper>