<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phgym.join.model.JoinMapper">

	<select id = "adminPwFind" resultType = "String" parameterType = "com.phgym.join.model.AdminInfoDTO">
		SELECT PW FROM ADMIN_INFO
		WHERE ADMIN_ID = #{adminId}
		and EMAIL = #{email}
		and PHONE = #{phone}
	</select>
	
	<select id="userPwFind" resultType="String" parameterType = "com.phgym.join.model.UserInfoDTO">
		SELECT PW FROM USER_INFO
		WHERE USER_ID = #{userId}
		AND EMAIL = #{email}
		AND PHONE = #{phone}
	</select>
	
	<select id="adminIdFind" resultType="String" parameterType="com.phgym.join.model.AdminInfoDTO">
	
		SELECT ADMIN_ID FROM ADMIN_INFO
		WHERE NAME = #{name}
		AND EMAIL = #{email}
		AND PHONE = #{phone}
		
	</select>
	
	<select id="userIdFind" resultType="String" parameterType="com.phgym.join.model.UserInfoDTO">
	
		SELECT USER_ID FROM USER_INFO
		WHERE NAME = #{name}
		AND EMAIL = #{email}
		AND PHONE = #{phone}
	
	</select>
	
	<select id="adminLogin" resultType= "com.phgym.join.model.AdminInfoDTO" parameterType="com.phgym.join.model.AdminInfoDTO">
		
		SELECT * FROM ADMIN_INFO WHERE ADMIN_ID = #{adminId} and PW = #{adminPw}
		
	</select>
</mapper>