<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phgym.join.model.JoinMapper">

	<select id = "adminPwFind" resultType = "String" parameterType = "com.phgym.join.model.AdminInfoDTO">
		SELECT PW FROM ADMIN_INFO
		WHERE ADMIN_ID = #{adminId}
		and ADMIN_EMAIL = #{email}
		and ADMIN_PHONE = #{phone}
	</select>
	
	<select id="userPwFind" resultType="String" parameterType = "com.phgym.join.model.UserInfoDTO">
		SELECT PW FROM USER_INFO
		WHERE USER_ID = #{userId}
		AND USER_EMAIL = #{email}
		AND USER_PHONE = #{phone}
	</select>
	
	<select id="adminIdFind" resultType="String" parameterType="com.phgym.join.model.AdminInfoDTO">
		SELECT ADMIN_ID FROM ADMIN_INFO
		WHERE ADMIN_NAME = #{name}
		AND ADMIN_EMAIL = #{email}
		AND ADMIN_PHONE = #{phone}
	</select>
	
	<select id="userIdFind" resultType="String" parameterType="com.phgym.join.model.UserInfoDTO">
		SELECT USER_ID FROM USER_INFO
		WHERE USER_NAME = #{name}
		AND USER_EMAIL = #{email}
		AND USER_PHONE = #{phone}
	</select>
	
	<select id="adminLogin" resultType= "com.phgym.join.model.AdminInfoDTO" parameterType="com.phgym.join.model.AdminInfoDTO">
		
		SELECT * FROM ADMIN_INFO WHERE ADMIN_ID = #{adminId} and ADMIN_PW = #{adminPw}
		
	</select>
	
	<select id="userLogin" resultType= "com.phgym.join.model.UserInfoDTO" parameterType="com.phgym.join.model.UserInfoDTO">
	
		SELECT * FROM USER_INFO WHERE USER_ID = #{userId} and USER_PW = #{userPw}
	
	</select>
	
	<insert id="adminJoin" parameterType="com.phgym.join.model.AdminInfoDTO">
	
		INSERT
        INTO ADMIN_INFO(admin_no, admin_id, admin_pw, admin_name, admin_birth,
        				admin_gender, admin_phone, admin_email,
        				admin_hire_date, admin_job_title, admin_career_his)
        VALUES(admin_info_seq.nextval,
        #{adminId},
        #{adminPw},
        #{adminName},
        #{adminBirth},
        #{adminGender},
        #{adminPhone},
        #{adminEmail},
        #{adminHireDate},
        #{adminJobTitle},
        #{adminCareerHis})
        
	</insert>
	
	<select id="adminIdCheck" resultType= "com.phgym.join.model.AdminInfoDTO" parameterType="String">
	
		SELECT * FROM ADMIN_INFO WHERE ADMIN_ID = #{adminId}
		
	</select>
	
	<insert id="userJoin" parameterType="com.phgym.join.model.UserInfoDTO">
	
		INSERT
		INTO USER_INFO(user_no, user_id, user_pw, user_name, user_birth,
					   user_gender, user_phone, user_email,
					   user_address, user_reg_date)
	    VALUES(user_info_seq.nextval,
	    #{userId},
	    #{userPw},
	    #{userName},
	    #{userBirth},
	    #{userGender},
	    #{userPhone},
	    #{userEmail},
	    #{userAddress},
	    sysdate)
	    
	</insert>
	
	<select id="userIdCheck" resultType= "com.phgym.join.model.UserInfoDTO" parameterType="String">
	
		SELECT * FROM USER_INFO WHERE USER_ID = #{userId}
		
	</select>
	
</mapper>