<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phgym.mypage.model.MypageMapper">
	<insert id="checkingin" parameterType="int">
		insert into checkin_his values (#{userNo}, sysdate)
	</insert>
	
	<select id="checkedin" parameterType="int" resultType="int">
		select count(*) from checkin_his where user_no = #{userNo} and trunc(checkin_date) = trunc(sysdate)
	</select>
</mapper>