<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phgym.mypage.model.MypageMapper">
	<insert id="doCheckin" parameterType="int">
		insert into checkin_his values (#{sessionUserNo}, sysdate)
	</insert>
	
	<select id="checkCheckin" parameterType="int" resultType="int">
		select count(*) from checkin_his where user_no = #{sessionUserNo} and trunc(checkin_date) = trunc(sysdate)
	</select>
	
	<insert id="doTransfer" parameterType="com.phgym.mypage.model.MembershipPayHisDTO">
		insert into membership_pay_his(membership_pay_no, user_no, end_date, remark_transfer_status, remark_transfer_date, remark_pay_no)
		values(membership_pay_his_seq.nextval, #{userNo}, #{endDate}, 'R', sysdate, #{membershipPayNo})
	</insert>
	
	<update id="updateRemarkTransferState" parameterType="com.phgym.mypage.model.MembershipPayHisDTO">
		update membership_pay_his set remark_transfer_status = 'G' where membership_pay_no = #{membershipPayNo} and user_no = #{userNo}
	</update>
	
	<select id="selectEndDate">
		select end_date from membership_pay_his where membership_pay_no = #{membershipPayNo}
	</select>
	
	<select id="checkTransfer" parameterType="int" resultType="com.phgym.mypage.model.MembershipPayHisDTO">
		select * from membership_pay_his where user_no = #{sessionUserNo} and remark_transfer_status is null and end_date is not null and end_date > sysdate order by membership_pay_no
	</select>
	
	<select id="getCheckinList" parameterType="int" resultType="com.phgym.mypage.model.CheckinHisDTO">
		select rownum, a.user_no as user_no, a.checkin_date as checkin_date
		from (select user_no, checkin_date from checkin_his
		where user_no = #{sessionUserNo} order by checkin_date) a order by rownum desc
	</select>
	
	<select id="getTimeList" parameterType="com.phgym.mypage.model.PtReservationHisDTO" resultType="com.phgym.mypage.model.PtReservationHisDTO">
		select * 
		from pt_reservation_his
		where admin_no = #{adminNo} and to_char(reservation_date, 'yyyy-MM-dd') = to_char(#{reservationDate}, 'yyyy-MM-dd') and progress_status = 'Y'
	</select>
	
	<insert id="doPtReservation" parameterType="com.phgym.mypage.model.PtReservationHisDTO">
		insert into pt_reservation_his values (pt_reservation_his_seq.nextval, #{userNo}, #{adminNo}, #{reservationDate}, 'Y')
	</insert>
	
	<select id="checkUserInfo" parameterType="int" resultType="com.phgym.mypage.model.MypageUserInfoDTO">
		select * from user_info where user_no = #{userNo}
	</select>
	
	<select id="getTotalPtCnt" parameterType="int" resultType="int">
		select nvl(sum(pay_cnt), 0) from pt_pay_his where user_no = ${sessionUserNo}
	</select>
	
	<select id="getDidPtCnt" parameterType="int" resultType="int">
		select count(*) from pt_reservation_his where user_no = #{sessionUserNo} and (progress_status = 'Y')
	</select>
	
	<select id="getUserInfo" parameterType="int" resultType="com.phgym.mypage.model.MypageUserInfoDTO">
		select * from user_info where user_no = #{sessionUserNo}
	</select>
	
	<update id="userInfoUpdate" parameterType="com.phgym.mypage.model.MypageUserInfoDTO">
		update user_info
		set user_pw = #{userPw}, user_name = #{userName}, user_gender = #{userGender}, user_phone = #{userPhone}, user_email = #{userEmail}, user_address = #{userAddress}
		where user_no = #{userNo}
	</update>
	
	<select id="getMembershipList" parameterType="int" resultType="com.phgym.mypage.model.MembershipPayHisDTO">
		select * from membership_pay_his where user_no = #{sessionUserNo} and (remark_transfer_status is null or remark_transfer_status = 'R') and end_date is not null and end_date > sysdate order by membership_pay_no
	</select>
	
	<select id="getPtReservationList" parameterType="int" resultType="com.phgym.mypage.model.PtReservationDTO">
		select a.pt_reservation_his_no as pt_reservation_his_no, a.reservation_date as reservation_date, b.admin_name as admin_name, decode(a.progress_status, 'Y', '예약완료', 'N', '예약취소') as progress_status
		from pt_reservation_his a left join admin_info b on a.admin_no = b.admin_no
		where user_no = #{sessionUserNo}
		order by reservation_date desc
	</select>
	
	<select id="countCheckinList" parameterType="int" resultType="int">
		select count(*) from checkin_his where user_no = #{sessionUserNo}
	</select>
	
	<select id="selectCheckinList" parameterType="com.phgym.mypage.model.MypageQuery" resultType="com.phgym.mypage.model.CheckinHisDTO">
		<![CDATA[
		select rn, user_no, checkin_date
		from (select user_no, checkin_date, row_number() over (order by checkin_date desc) as rn
			  from checkin_his where user_no = #{userNo})
		where rn > #{startRow} and rn <= #{endRow}
		]]>
	</select>
	
	<select id="countPtReservationList" parameterType="int">
		select count(*) from pt_reservation_his where user_no = #{sessionUserNo}
	</select>
	
	<select id="selectPtReservationList" parameterType="com.phgym.mypage.model.MypageQuery" resultType="com.phgym.mypage.model.PtReservationDTO">
		<![CDATA[
		select pt_reservation_his_no, reservation_date, admin_name, progress_status
		from (select a.pt_reservation_his_no as pt_reservation_his_no, a.reservation_date as reservation_date, b.admin_name as admin_name, decode(a.progress_status, 'Y', '예약완료', 'N', '예약취소') as progress_status, row_number() over (order by reservation_date desc) as rn
			  from pt_reservation_his a left join admin_info b on a.admin_no = b.admin_no
			  where user_no = #{userNo})
		where rn > #{startRow} and rn <= #{endRow}
		]]>
	</select>
</mapper>