
@charset "UTF-8";* {
    padding: 0;
    margin: 0;
}


body{
 
}

ul, li, ol, dl, dd {
    list-style: none;
}

.form-container {
        background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    width: 980px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 100px auto;
    
}
.header-icons {
	width:36%;	
}
.header-icons > input , .header-icons >  span  {
}
.header-icons > span  {
	color : #000;
	font-size: 15px;
	margin-right : 10px;
}


.header1 {
    border-bottom:  3px solid  #ff7f56;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0 0;
    margin-bottom: 30px;
}

.back-btn {
    background: none;
    border: none;
    color: black;
    font-size: 24px;
    cursor: pointer;
    width: 50px;

}

.header-title {
    margin-left: 10px;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}

.header-icons {
	
}

.icon-btn {
    width: 50px;
    background: none;
    border: none;
    color: rgb(92, 29, 29);
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
}

#content, #title, #writer {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.0em;
    padding-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#content {
    height:431px;
    overflow: auto;
    resize: none;
    font-family: Arial, sans-serif;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.reset-btn { /* reset-btn이 등록버튼임 */
    width: 110px;
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    /* box-shadow: 2px 4px 12px #00000014; */
    font-size: 15px;
    font-weight: bold;
    background-color: #ff7f56;
    color: #fff;
    cursor: pointer;    
}
.reset-btn:hover {
	background-color: #f75f2c;
}

.submit-btn { /* submit-btn이 초기화 버튼임 */
    width: 110px;
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    /* box-shadow: 2px 4px 12px #00000014; */
    font-size: 15px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}
.submit-btn:hover {
	background-color: #141414;
}