@charset "UTF-8";* {
    padding: 0;
    margin: 0;
}

body{

}

ul, li, ol, dl, dd {
    list-style: none;
}

.icon_click {
    /* position: absolute;
    left: 943px;
    top: 76px; */
    background-color: #fff;
    width: 100px;
    box-shadow: 2px 4px 12px #00000014;
}
.icon_click  > input{
    width: 100%;
    font-size: 15px;
    width: 100px;
    height: 42px;
    border: 1px solid #ddd;
    border-radius: 5px;
   
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(35, 35, 62);
    color : #fff;
    cursor: pointer;
}

.title-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.title2-info {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}


.no_title {
    width: 100%;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;

}

.no_adminNo {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding:  5px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    font-size: 13px;
}
.no_adminNo > span {
    font-weight: bold;
    color: rgb(35, 35, 62);
}

.no_writeDate {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding:  5px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    font-size: 13px;
}

.no_writeDate > span {
    font-weight: bold;
    color: rgb(35, 35, 62);
}
.dto > textarea {
	  font-weight: bold;
	width : 100%;
	height: 300px;
		font-size : 1.3em;
		padding : 30px;
	margin-top: 30px;
	 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	 border-radius: 30px;
	 resize: none;

}


.delBtn {
	width: 10%;
    height: 42px;
    border: 1px solid #ddd;
    border-radius: 10px;
    /* box-shadow: 2px 4px 12px #00000014; */
    font-size: 15px;
    font-weight: bold;
    background-color: #ff7f56;
    color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 4px #00000014;
    margin-left: 0;
}

.dto  > p > small {
	font-size : 1.0em;
	float: right;
	
}
.inquiry-content {
    font-size : 1.3em;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding:  30px;
    height: 510px;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content2 {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    width: 1024px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 100px auto;
    margin-top: 40px;
}

.header1 {
    border-bottom:  3px solid  #ff7f56;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0 0;
    margin-bottom: 15px;
}

.back-btn {
    background: none;
    border: none;
    color: black;
    font-size: 24px;
    cursor: pointer;
    width: 50px;

}

.header-title {
    margin-left: 10px;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}

.header-icons {
    display: flex;
    justify-content: first baseline;
}

.icon-btn {
    width: 50px;
    background: none;
    border: none;
    color: rgb(92, 29, 29);
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
}

.qnaWriter {
	border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    font-size: 13px;
    height: 27px;
}
.qnaDate {
	border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    font-size: 13px;
    height: 27px;
}

