* {
    padding: 0;
    margin: 0;
}

ul, li, ol, dl, dd {
    list-style: none;
}

#wrap {
}

.join_page h3 {
    text-align: center;
}

#wrap .join_page {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;

}

.join_page .left {
    float: left;
    width: 50%;
    text-align: center;
}

.join_page .left button {
    width: 30px;
}

.join_page .left .gender {
    width: 50px;
}

.join_page .left p {
    text-align: left;
    margin-left: 42px;
}

.join_page .left input {
    width: 65%;
    text-align: right;
}

.join_page .left > div p {
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
}

.join_page .right {
    float: right;
    width: 50%;
}


.join_page .right input {
    width: 65%;
    text-align: right;
}

.join_page .right > div p {
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
}

.join_page .bottom {
    text-align: left;
    margin-left: 42px;
}

.join_page .bottom .license p {
    margin-top: 20px;
    display: inline-block;
    margin-right: 200px;
    font-weight: 600;
}

.join_page .bottom .license textarea {
    width: 425px;
    height: 150px;
    margin-top: 5px;
}

.join_page .btn {
    width: 45%;
    margin: 0 auto;
    box-sizing: border-box;
    resize: vertical;
}

.join_page .btn button {
    width: 100px;
    margin-top: 20px;
}
/*dsddafasfd*/
