@charset "UTF-8";* {
    padding: 0;
    margin: 0;
}


body{
    background-color: #efefef;
}

ul, li, ol, dl, dd {
    list-style: none;
}

.wrap2 {
  
}

.fc-event{
	background-color : #2c3e50;
	border-color: #2c3e50;
}


    

.search_box { 
    margin-bottom: 30px;
}

.search_name {
    font-size: 1.8em;
    margin-bottom: 30px;
}

.search_name{
    margin-bottom: 30px;

}

.user_table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    box-shadow: 2px 4px 12px #00000014;
    background-color: #fff;

}

.user_table >  tr, th, td{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: #fff;
  }

  .user_table > tbody > tr > th:nth-child(1){
    background-color: #f5f5f5;

  }
  
  .user_table > tbody > tr {
  	width: 30%;
  }

  .user_value1 {
    color : #17181fd1;
    font-weight: bold;
  }

  .search_bar1 {
    display: flex;
    width: 100%;
   	align-items: center;
  }

  /*  조회 인풋박스 */
  .search_bar1 > input:nth-child(1) { 
    width: 80%;
    height: 40px;
    font-size: 15px;
    border: 0px;
    border-radius: 3px;
    outline: none;
    padding-left: 10px;
    background-color: #fff;
    margin-right: 10px;
    box-shadow: 2px 2px 4px #00000014;

}
  /*  조회 버튼 */
.search_bar1 > input:nth-child(2) {
    width: 20%;
    height: 42px;
    border: 1px solid #ddd;
    border-radius: 5px;
    /* box-shadow: 2px 4px 12px #00000014; */
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(35, 35, 62);
    color : #fff;
    cursor: pointer;
    box-shadow: 2px 2px 4px #00000014;

}

.search_bar1 > input:nth-child(2):hover {
    background-color: rgb(98, 98, 106);
    color : #fff;
}

.wrap4 {
	background-color: #fff;
	padding : 20px;
	margin-top : 100px;
	margin-bottom : 100px;
	border: 1px solid #ddd;
	box-shadow: 2px 2px 4px #00000014;
}

.fc .fc-daygrid-day.fc-day-today {
		background-color :#2c3e5017;
		
} 
.fc-day-today { 
		background-color :#2c3e50d6;
}
