/* 
<!-- 디자인 수정완료 그대로 붙여쓰세요 --> */

@charset "UTF-8";* {
    padding: 0;
    margin: 0;
}


body{
    background-color: #efefef;
}

ul, li, ol, dl, dd {
    list-style: none;
}

.wrap2 {
  margin-bottom: 30px;
}

.search_box { 
    margin-bottom: 30px;
    align-items: baseline;
}

.search_name {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.search_name{
    margin-bottom: 30px;
}

.wrap3 {
  
}

.user_table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    box-shadow: 2px 4px 12px #00000014;
    background-color: #fff;

}

.user_table >  tr, th, td{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    /* background-color: #fff; */
  }

  .user_table > tbody > tr > th{
    background-color: #f5f5f5;

  }



  /*  조회 셀렉트 박스 */

  .select_bar1 {
    width:100%;
    margin-bottom: 20px;
  }
  .select_bar1 > select{
    
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
    border-radius: 3px;
    border: none;
    box-shadow: 2px 2px 4px #00000014;
  }
  .select-bar1 > select > option{
    background-color: rgb(255, 255, 255);
    border: none;
  }


  /*  조회 인풋박스 */
  
  .search_bar1 {
    display: flex;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .search_bar1 > input:nth-child(1) { 
    width: 80%;
    height: 40px;
    font-size: 15px;
    border: 0px;
    border-radius: 3px;
    outline: none;
    background-color: #fff;
    margin-right: 10px;
    box-shadow: 2px 2px 4px #00000014;
    padding-left: 10px;

}
  /*  조회 버튼 */
.search_bar1 > input:nth-child(2) {
    width: 20%;
    height: 42px;
    border: 1px solid #ddd;
    border-radius: 5px;
    /* box-shadow: 2px 4px 12px #00000014; */
    font-size: 15px;
    font-weight: bold;
    background-color: #23233e;
    color : #fff;
    cursor: pointer;
    box-shadow: 2px 2px 4px #00000014;
    margin-left: 0;

}

.search_bar1 > input:nth-child(2):hover {
    background-color: rgb(98, 98, 106);
    color : #fff;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.pagination > span, .pagination > a {
	color : #fff;
	padding :  2px 8px;
	border: 1px solid #ddd;
	background-color : #23233e;
	margin: 5px; 
	border-radius: 5px;
	box-shadow: 2px 2px 4px #00000014;

	
}
.pagination > span:hover, .pagination > a:hover{

	background-color: #23233eab;

}




.user_table > tbody > tr > td > a {
	color : #000;
}

.user_table > tbody > tr:hover {
		background-color:#23233e14;
}

