
@charset "UTF-8";* {
    padding: 0;
    margin: 0;
}


body{
    background-color: #efefef;
}

ul, li, ol, dl, dd {
    list-style: none;
}




.icon_click {
    /* position: absolute;
    left: 943px;
    top: 76px; */
    background-color: #fff;
    width: 100px;
    box-shadow: 2px 4px 12px #00000014;
}
.icon_click  > input{
    width: 100%;
    font-size: 15px;
    width: 100px;
    height: 42px;
    border: 1px solid #ddd;
    border-radius: 5px;
   
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(35, 35, 62);
    color : #fff;
    cursor: pointer;
}

.title-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.title2-info {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}


.no_title {
    width: 100%;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;

}

.no_adminNo {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.no_adminNo > span {
    font-weight: bold;
    color: rgb(35, 35, 62);
}

.no_writeDate {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
}

.no_writeDate > span {
    font-weight: bold;
    color: rgb(35, 35, 62);
}

.inquiry-content {
    font-size : 1.1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    height: 510px;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content2 {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    width: 1024px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.header1 {
    border-bottom:  3px solid  rgb(35, 35, 62);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px 3px 0 0;
    margin-bottom: 30px;
}

.back-btn {
    background: none;
    border: none;
    color: black;
    font-size: 24px;
    cursor: pointer;
    width: 50px;

}

.header-title {
    margin-left: 10px;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}

.header-icons {
    display: flex;
    justify-content: first baseline;
}

.icon-btn {
    width: 50px;
    background: none;
    border: none;
    color: rgb(92, 29, 29);
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
}

