/* <!-- 디자인 수정완료 그대로 붙여쓰세요 
1) 캘린더 디자인 수정해야함 

--> */

@charset "UTF-8";* {
    padding: 0;
    margin: 0;
}


.fc-event{
	background-color : #2c3e50;
	border-color: #2c3e50;
}

body{
    background-color: #efefef;
}

ul, li, ol, dl, dd {
    list-style: none;
}

.wrap2 {
  
}

.search_box { 
    display: flex;
    margin-bottom: 30px;
}

.search_name {
    font-size: 1.5em;
    width: 100%;
}


.user_table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    box-shadow: 2px 4px 12px #00000014;
    background-color: #fff;
    margin-bottom: 30px
}

.user_table >  tbody> tr, th, td{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
 	
  }

  .user_table > thead{
    background-color: #f5f5f5;

  }
  
.reserCbtn {
  	color: red;
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 5px;
    background: #ff888847;
  }
  .reserCbtn2{
      color: #151e27;
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 5px;
    background: #6d6d6d47;
  }
  
  .user_table > tbody > tr {
  	width: 30%;
  }

  .user_value1 {
    color : #17181fd1;
    font-weight: bold;
  }

  .search_bar1 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  /*  조회 인풋박스 */
  .search_bar1 > input:nth-child(1) { 
    width: 70%;
    height: 40px;
    font-size: 15px;
    border: 0px;
    border-radius: 3px;
    outline: none;
    padding-left: 10px;
    background-color: #fff;
    margin-right: 10px;
    box-shadow: 2px 2px 4px #00000014;

}
  /*  조회 버튼 */
.search_bar1 > input:nth-child(2) {
    width: 20%;
    height: 42px;
    border: 1px solid #ddd;
    border-radius: 5px;
    /* box-shadow: 2px 4px 12px #00000014; */
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(35, 35, 62);
    color : #fff;
    cursor: pointer;
    box-shadow: 2px 2px 4px #00000014;

}

.wrap4 {
    margin-bottom: 30px;
    width: 90%;
    height: 100%;
    margin: 30px auto;
    background-color : #fff;
    
}
.fc .fc-daygrid-day.fc-day-today {
		background-color :#2e609321;
} 
.fc-day-today { 
		background-color :#2e609321;
}

#calendar {
	
   border: 1px solid red; 
   padding : 13px;
   border: 1px solid #ddd;
   height: 581px;
}