@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'SUIT-Regular';
}

ul, li, ol, dl, dd {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.content {
    width: 1024px;
    margin: 0 auto;
}

.content > .wrap {
    width: 100%;
    margin: 100px auto 0;
    text-align: center;
    box-shadow: 0 8px 16px #ff7f56;
    padding: 50px 0;
}

.content > .wrap > .content_title {
	font-size: 30px;
}

.content > .wrap > .clock {
	margin-top: 20px;
	font-size: 20px;
}

.content > .wrap > .checkin {
	margin-top: 20px;
	width: 150px;
    height: 45px;
    border-radius: 5px;
	background-color: #ff7f56;
	color: #ffffff;
	border: none;
	font-size: 20px;
	cursor: pointer;
}

.content > .wrap > .quote {
	margin-top: 20px;
	font-size: 15px;
}

.content > .wrap > .author {
	margin-top: 5px;
	font-size: 15px;
}