* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, li, ol, dl, dd {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.content {
    width: 1024px;
    margin: 0 auto;
}

.content > .wrap {
    width: 100%;
    margin: 100px auto 0;
    text-align: center;
    box-shadow: 0 8px 16px #ff7f56;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
}

.content > .wrap > div {
	width: 20%;
}