@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'SUIT-Regular';
}

ul, li, ol, dl, dd {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.content {
    width: 1024px;
    margin: 0 auto;
}

.content > .wrap-top {
	padding: 40px 0 20px 0;
	border-bottom: 1px solid #00000029;
}

.content > .wrap-top > h2 {
	display: inline-block;
	font-size: 40px;
	letter-spacing : 3px;
}

.content > .wrap-top > p {
	display: inline-block;
	padding-left: 10px;
	font-size: 20px;
}

.content > .wrap-middle {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

.content > .wrap-middle > .wrap-middle-left {
	width: 54%;
	padding: 7px;
	overflow: hidden;
	border-radius: 18px;
    box-shadow: 2px 4px 12px #00000014;
}

.fc-header-toolbar {
	padding-top: 3px;
}

.fc-col-header {
	background-color: #ff7f56;
}

.fc-scrollgrid-sync-table {
	cursor: pointer;
}

.fc-event {
    background: none;
    border: none;
}

.fc-event div {
    font-size: 130%; /* 이모지 크기 조정 */
}

.content > .wrap-middle > .wrap-middle-right {
    width: 44%;
    text-align: center;
    border-radius: 18px;
    box-shadow: 2px 4px 12px #00000014;
}

.content > .wrap-middle > .wrap-middle-right > .title {
	padding-top: 90px;
	padding-bottom: 50px;
	font-size: 28px;
}

.content > .wrap-middle > .wrap-middle-right > .checkinBtn {
	background-color: #ff7f56;
	border: none;
	border-radius: 0.25em;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 50px;
	cursor: pointer;
}

.content > .wrap-middle > .wrap-middle-right > .quote {
	padding-top: 50px;
}

.content > .wrap-middle > .wrap-middle-right > .author {
	padding-top: 10px;
}