* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, li, ol, dl, dd {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.content {
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.content > .wrap-top {
	padding: 40px 0 20px 0;
	border-bottom: 1px solid #00000029;
}

.content > .wrap-top > h2 {
	display: inline-block;
	font-size: 40px;
}

.content > .wrap-top > p {
	display: inline-block;
	padding-left: 10px;
	font-size: 20px;
}

.content > .wrap-middle {
	margin-top: 30px;
	text-align: center;
	border-radius: 18px;
	box-shadow: 2px 4px 12px #00000014;
	padding-bottom: 100px;
}

.content > .wrap-middle > p:nth-child(1) {
	padding-top: 90px;
	font-size: 24px;
}

.content > .wrap-middle > p:nth-child(2) {
	padding-bottom: 50px;
	font-size: 18px;
}

.content > .wrap-middle > form > div {
	padding: 0 300px;
	text-align: left;
}

.content > .wrap-middle > form > div > p {
	font-size: 20px;
	padding-bottom: 5px;
}

.content > .wrap-middle > form > div .inputSelect {
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	font-size: 16px;
	padding-left: 5px;
}

.content > .wrap-middle > form > .transferBtn {
	margin-top: 10px;
	background-color: #ff7f56;
	border: none;
	border-radius: 0.25em;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 50px;
	cursor: pointer;
}