* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, li, ol, dl, dd {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.content {
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.content > .wrap-top {
	padding: 40px 0 20px 0;
	border-bottom: 1px solid #00000029;
}

.content > .wrap-top > h2 {
	display: inline-block;
	font-size: 30px;
}

.content > .wrap-top > p {
	display: inline-block;
	padding-left: 10px;
	font-size: 15px;
}

.content > .wrap-middle {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

.content > .wrap-middle > .wrap-middle-left {
	width: 54%;
	padding: 7px;
	overflow: hidden;
	border-radius: 18px;
    box-shadow: 2px 4px 12px #00000014;
}

.fc-header-toolbar {
	padding-top: 3px;
}

.fc-col-header {
	background-color: #fff;
}

.content > .wrap-middle > .wrap-middle-right {
	width: 44%;
	padding: 30px;
	border-radius: 18px;
    box-shadow: 2px 4px 12px #00000014;
}

.content > .wrap-middle > .wrap-middle-right p {
	font-size: 20px;
	padding-bottom: 5px;
}

.am {
	display: flex;
	margin-bottom: 20px;
}

.pm {
	display: flex;
	flex-flow: wrap;
}

.disabledBtn {
	margin-right: 5px;
	margin-bottom: 10px;
	background-color: #e3e3e3;
	border: none;
	border-radius: 0.25em;
	width: 90px;
	height: 40px;
	font-size: 18px;
	color: white;
	box-shadow: 2px 4px 12px #00000014;
}

.abledBtn {
	margin-right: 5px;
	margin-bottom: 10px;
	background-color: #fff;
	border: none;
	border-radius: 0.25em;
	width: 90px;
	height: 40px;
	font-size: 18px;
	color: #000;
	box-shadow: 2px 4px 12px #00000014;
}
.fc .fc-col-header-cell-cushion {
	    letter-spacing: 2px;
}
.fc .fc-toolbar-title {
	font-size: 1.25em;
}
.fc .fc-button {
	padding: 0px;
}
.fc .fc-button-primary {
	background-color: #fff;
	color: #000;
	border: none;
}
.fc .fc-button-primary:hover {
	background-color: #fff;
	color: #000;
	border: none;
}
.fc .fc-button-primary:disabled {
	background-color: #fff;
	color: #000;
	border: none;
}
.fc .fc-button .fc-icon {
    font-size: 1.8em;
}

.fc .fc-toolbar.fc-header-toolbar {
	margin-right: 10px;
}

.fc .fc-daygrid-day.fc-day-today {
	background-color: #ffe0d7;
}

.fc .fc-highlight {
	background: #fff;
}


