@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'SUIT-Regular';
}

ul, li, ol, dl, dd {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.content {
    width: 1024px;
    margin: 0 auto;
}

.content > .wrap {
    width: 100%;
    margin: 100px auto 0;
    text-align: center;
    box-shadow: 0 8px 16px #ff7f56;
    padding: 50px 0;
}

/* ===그래프=== */
.content > .wrap > .graph_box {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

/* ===출석내역=== */
.content > .wrap > .checkin_list {
	margin-top: 20px;
}

.content > .wrap > .checkin_list > div {
	height: 150px;
	overflow: auto;
}

.content > .wrap > .checkin_list > div > table {
    margin: 10px auto 0;
    border: 1px solid #ff7f56;
    width: 90%;
}

.content > .wrap > .checkin_list > div > table tr th {
    text-align: center;
    border-bottom: 1px solid #ff7f56;
}

.content .wrap > .checkin_list > table tr td {
    text-align: center;
}