@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'SUIT-Regular';
}

ul, li, ol, dl, dd {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.content {
    width: 1024px;
    margin: 0 auto;
}

.content > .wrap-top {
	padding: 40px 0 20px 0;
	border-bottom: 1px solid #000;
}

.content > .wrap-top > h2 {
    display: inline-block;
    font-size: 30px;
    letter-spacing: 5px;
}

.content > .wrap-middle {
	margin-top: 20px;
}

.content > .wrap-middle > p {
	font-size: 18px;
	padding-bottom: 5px;
}

/* ===그래프=== */
.content > .wrap-middle > .graph_box {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.content > .wrap-middle > .graph_box > .left {
	width: 49%;
    border-radius: 18px;
    box-shadow: 2px 4px 12px #00000014;
}

.content > .wrap-middle > .graph_box canvas {
	padding: 20px;
}

.content > .wrap-middle > .graph_box p {
	font-size: 15px;
	padding-bottom: 10px;
}

.content > .wrap-middle > .graph_box > .right {
	width: 49%;
    border-radius: 18px;
    box-shadow: 2px 4px 12px #00000014;
}

/* ===출석내역=== */
.content > .wrap-middle > p:nth-child(3) {
	margin-top: 30px;
}

.content > .wrap-middle > .checkin_list {
	border-radius: 18px;
    box-shadow: 2px 4px 12px #00000014;
    padding: 10px;
}

.content > .wrap-middle > .checkin_list > table {
    margin: 0 auto;
    width: 650px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    display: block;
    height: 200px;
    overflow: auto;
}

.content > .wrap-middle > .checkin_list > table tr th {
    text-align: center;
    border-bottom: 1px solid #e3e3e3;
    width: 162.5px;
    padding: 3px 0;
    font-weight: 600;
}

.content > .wrap-middle > .checkin_list > table tr td {
    text-align: center;
    width: 162.5px;
    padding: 3px 0;
    font-weight: 400;
}

.content > .wrap-middle > .checkin_list > .pagination {
	text-align: center;
	padding-top: 5px;
}

.content > .wrap-middle > .checkin_list > .pagination > a {
	padding: 0 5px;
}