@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'SUIT-Regular';
}

ul, li, ol, dl, dd {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.content {
    width: 1024px;
    margin: 0 auto;
}

.content > .wrap-top {
	padding: 40px 0 20px 0;
	border-bottom: 1px solid #000;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.content > .wrap-top > h2 {
	display: inline-block;
	font-size: 30px;
	letter-spacing: 5px;
}

.content > .wrap-top > input {
	background-color: #fff;
	border: 0px solid #00000014;
	border-radius: 0.25em;
	color: #000;
	box-shadow: 2px 4px 12px #e3e3e3;
	font-size: 15px;
	height: 30px;
	padding: 0 30px;
	cursor: pointer;
}
.content .wrap-top .submit:hover {
	background-color:  #f97316;
}
.content > .wrap-middle {
	margin-top: 30px;
	padding: 50px 50px;
	border-radius: 18px;
    box-shadow: 2px 4px 12px #00000014;
	display: flex;
	justify-content: space-between;
}

.content > .wrap-middle > .wrap-middle-left {
	width: 20%;
	text-align: right;
}

.content > .wrap-middle > .wrap-middle-left > .profile {
	margin-right: 30px;
	box-shadow: 2px 4px 12px #00000014;
	height: 170px;
	text-align: center;
	line-height: 170px;
}

.content > .wrap-middle > .wrap-middle-left > .profile > i {
	font-size: 900%;
}

.content > .wrap-middle > .wrap-middle-center {
	width: 40%;
}

.content > .wrap-middle > .wrap-middle-center p {
	font-size: 18px;
	margin-bottom: 3px;
	letter-spacing: 5px;
}

.content > .wrap-middle > .wrap-middle-center input {
	width: 90%;
	height: 30px;
	font-size: 16px;
	margin-bottom: 15px;
	padding-left: 5px;
	border: 1px solid #e3e3e3;
}

.content > .wrap-middle > .wrap-middle-center div {
	display: flex;
	margin-top: 3px;
	margin-bottom: 15px;
	align-items: center;
	border: 1px solid rgb(118, 118, 118);
	width: 90%;
	height: 30px;
	padding-left: 5px;
}

.content > .wrap-middle > .wrap-middle-center div p {
	font-size: 16px;
}

.content > .wrap-middle > .wrap-middle-center div .userGenderRadio {
	display: inline-block;
	width: 7%;
	height: 50%;
	line-height: 5%;
	margin: 0;
}

.content > .wrap-middle > .wrap-middle-right {
	width: 40%;
}

.content > .wrap-middle > .wrap-middle-right p {
	font-size: 18px;
	margin-bottom: 3px;
	letter-spacing: 5px;
}
.content .wrap-middle > .wrap-middle-right p:nth-of-type(3),
.content .wrap-middle > .wrap-middle-right p:nth-of-type(4),
.content .wrap-middle > .wrap-middle-right p:nth-of-type(5),
.content .wrap-middle > .wrap-middle-right input:nth-of-type(3),
.content .wrap-middle > .wrap-middle-right input:nth-of-type(4) {
	position: relative;
	top: 25px;
}
.content > .wrap-middle > .wrap-middle-right input {
	width: 90%;
	height: 30px;
	font-size: 16px;
	margin-bottom: 15px;
	padding-left: 5px;
	border: 1px solid #e3e3e3;
}

.content > .wrap-middle > .wrap-middle-right select {
	width: 90%;
	height: 30px;
	margin-top: 26px;
	font-size: 14px;
	margin-bottom: 7px;
	padding-left: 5px;
}

.content > .wrap-bottom {
	margin-top: 30px;
	padding: 10px 50px;
	border-radius: 18px;
    box-shadow: 2px 4px 12px #00000014;
}

.content > .wrap-bottom > p {
	font-size: 18px;
}

.content > .wrap-bottom > table {
    margin: 0 auto;
    width: 650px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    display: block;
    height: 200px;
    overflow: auto;
}

.content > .wrap-bottom > table tr th {
    text-align: center;
    border-bottom: 1px solid #e3e3e3;
    width: 162.5px;
    padding: 3px 0;
    font-weight: 600;
}

.content > .wrap-bottom > table tr td {
    text-align: center;
    width: 162.5px;
    padding: 3px 0;
    font-weight: 400;
}