@font-face {
    font-family: 'KoPubWorldDotum';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'KoPubWorldDotum';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'KoPubWorldDotum';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumBold.ttf') format("truetype");
    font-display: swap;
}


* {
	font-family: 'KoPubWorldDotum';
    margin : 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    z-index:10;
}




.admin_main_name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    border-bottom: 3px solid #000000;
    color: #000;
}


.aside {
    width: 255px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:  #1F202B;

}

.main {
    margin-left: 350px;
    width: 1024px;
    margin-top: 50px;
}




.logo1 {
    text-align: center;
    margin-bottom: 10px;
}

.logo1 > a > img {
	margin-top : 20px;
    width: 150px;
}

.nav_1 li a{
	color : #fff;
}

.nav_1 {
    color: white;
}

.nav_1 > li {
    padding: 20px;
    font-size: 1.2em;
    cursor: pointer;
    
}

.nav_1 > li:hover {
    background-color: #a5ccf338;
}


/* .nav_1 > li:nth-child(3) > .nav_2 {
    display: none;
    
}
.nav_1 > li:nth-child(3): > .nav_2 {
    display: block;
} */



#nav_2 {
    display: none;
    padding: 20px;
    font-size: 1.0em;
    cursor: pointer;
    background-color: #36384bd1;
}

#nav_2 > li:nth-child(1) {
    margin-bottom: 30px;
}

#nav_2 > li {
	margin-left : 15px;
}

.bi-chevron-compact-right{
    
}

.nav_logout{
    color : white;
    margin-top: 5dvh;
    cursor: pointer;
    margin-left: 30px;
}


.nav_1 li i {
    margin-right: 12px;
}

/* 
input[type=text] {
  border: none;
  border-bottom: 2px solid #f97316;
}
 */
.btn-hover.color-4 {
	background-color : #ff7f56;
    /* background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516); */
  /*   box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75); */
}

/* 
.btn {
	height: 30px;
    width: 100px;
}
 */
/* 
.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

 */
 
.nav_logout input {
   background-color: #1f202b; color : #fff;
   width: 100px; height: 30px;
   position: relative; left: 115px; top: 85px;
   border: 1px solid #36384b;
   border-radius: 5px;
} 
 
 
 .nav_logout input:hover {
   background-color: #1f202b; color : #fff;
   width: 100px; height: 30px;
   position: relative; left: 115px; top: 85px;
   border: 1px solid #36384b;
   border-radius: 5px;
}
 
 