* {
    margin : 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;

}


.content1 {
    display: flex;  
    flex : 1;
}

.my_navigation_bar {
    display: flex;
    flex: none;
    background-color: #bfbab078;
}
.main{
    font-size: 1.3em;
    margin : 30px;
    width: 100%;
    border: 1px solid red;
    overflow: auto; 
}






.main_nav {
    list-style-type: none;
    height: 90px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-bottom : 3px solid hsl(0, 0%, 93%);
}

.main_nav li{
    font-size: 1.3em;
    color: #f97316;
}
.main_nav li a {
    text-align: center;
    padding : 20px 30px;
}

li a:hover:not(.active) {

}
  
.main_nav > a > img {
    margin-left: 20px;
    width: 110px;
}

.gnb {
    margin-left: auto;
    margin-right: 10px;
}
.gnb > input {
    width: 100px;
    height: 50px;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid black;
    background-color: #f97316;
}

.my_navigation_bar {
    width: 255px;
    height: auto;
    border-right: 3px solid #bbb ;
    background-color:#eee;
}

.my_nav{
    margin-left: 20px;

}

.my_nav > li {
    padding: 20px;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
}
.my_nav > li > i {
    color: #f97316;
}

.my_nav > li {
}
.my_nav > li:hover {
    
}


