* {
    margin : 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'SUIT-Regular';


}

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    
}

body{
  font-weight : bold;
}

.content1 {
    display: flex;  
    flex : 1;
}

.my_navigation_bar {
    display: flex;
    flex: none;
    background-color: #bfbab078;
}
.main{
    font-size: 1.3em;
    margin : 30px;
    width: 100%;
    border: 1px solid red;
    overflow: auto; 
}


.main_nav {
    list-style-type: none;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main_nav li {
    font-size: 1.3em;
    color: #000;
    width: 150px;
    text-align: center;
}

.dropdownContent > li  {
    text-align: left;
}

.dropdownContent2 > li  {
    text-align: left;
}

 .dropdownContent > li:hover > a  , .dropdownContent > li:hover > i {
	color: #ff7f56;
}
.dropdownContent2 > li:hover > a  , .dropdownContent2 > li:hover > i {
	color: #ff7f56;
}



.main_nav > a > img {
    margin-left: 40px;
    margin-right: 40px;
    width: 110px;
}

.main_nav > .gnb {
    width: 300px;
    margin-left: auto;
    margin-right: 30px;
}
.gnb > input {
    width: 100px;
    height: 50px;
    font-size: 0.8em;
    border : 0px;
     font-weight : bold;
     color : #8c8c8c;
     background: #fff;
 
    
}

.my_navigation_bar {
    width: 255px;
    height: auto;
    border-right: 3px solid #bbb ;
    background-color:#eee;
}



.my_nav{
    margin-left: 20px;
}

.my_nav > li {

    padding: 20px;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
}

.my_nav > li > i {

}


.main_nav li:nth-of-type(1){
	 position : relative;
}

.dropdownContent > li > i {
	margin-right:10px;
}

.dropdownContent2> li > i {
	margin-right:10px;
}

.dropdownContent{
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     border: 1px solid #e3e3e3;
	display:none;
	padding: 10px;
	top : 100px;
	left : 760px;
	position : absolute;
	flex: none;
	padding-left : 43px;
	padding-right: 15px;
	font-size: 0.9em;
	background-color : #fafafa;
	z-index : 9;
}


.dropdownContent2{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid #e3e3e3;
   display:none;
   padding: 10px;
   top : 100px;
   left : 464px;
   position : absolute;
   flex: none;
   padding-left : 44px;
   padding-right: 8px;
   font-size: 0.9em;
   background-color : #fafafa;
   z-index : 9;
}

.dropdownContent > li {
	margin-top : 30px;
	margin-bottom: 30px;
}


.dropdownContent2 > li {
	margin-top : 30px;
	margin-bottom: 30px;
}


.dropdown {
	position: relative;
}

.bi-caret-down-fill {
	position: absolute;
	top:0;
	left:130px;	
}


.dropdown2 {
	position: relative;
}

.dropdown2 > .bi{
	position: absolute;
	top:0;
	left:143px;
}



.dropdownContent li a {
   
	padding : 0px;
	text-align : center;
}

.dropdownContent2 li a {
   
	padding : 0px;
	text-align : center;
}

.main_nav_bar {
    position: relative;

}

/* .main_nav_bar .animation{
    position: absolute;
    top: 80%;
    left: 200px;
    width: 130px;
    height: 2px;
    background-color: #f97316;
    transition: 0.5s;
} */


.dropdownContent li a{
    color : #000;
}
.dropdownContent2 li a{
    color : #000;
}



/* 

.main_nav li:nth-of-type(1):active ~ .animation {
    left: 205px;
  }

  .main_nav li:nth-of-type(2):active ~ .animation  {
    left: 340px;
  }

  .main_nav li:nth-of-type(3):active ~ .animation{
    left: 491px;
  }

  .main_nav li:nth-of-type(4):active ~ .animation{
    left: 640px;
  }

  .main_nav li:nth-of-type(5):active ~ .animation  {
    left: 800px;
  }  */